footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 50px;
    background-color: aliceblue;
    box-shadow: var(--shadow);
    
}

footer.footer a {
    text-decoration: none;
}